body {
  font-size: 16px;
  color:#161616;
}

header {
  background-color: white;
  position: fixed;
  z-index: 11;
}
.shadow {
  box-shadow: 0px 2px 2px 2px black;
  transition: box-shadow 0.2s;
}
.brand {
  font-size: 32px;
}
.mobile-navigation {
  display: none;
}

a {
  color: #161616;
  transition: color 0.6s;
  text-decoration: none !important;

}
 a:hover, .active {
  color: #1f6f8b;
}
.c-nav {
  margin-left: 3rem;
}
.c-nav a {
  margin-right: 32px;
}

.section-hero {
  margin-bottom: 6.4rem;
}

.hero-description .title {
  font-weight: bold;
  margin-bottom: 12px;
}

.hero-description .description {
  font-weight: 400;
  margin-bottom: 20px;
}

.hero-description .hero-link {
  font-size: 20px;
}

@media only screen and (max-width: 800px){
 .c-nav, .c-language {
  display: none;
 }

 .mobile-navigation {
  transition: display 0.6s;
  display: block;
 }
 .section-hero {
  margin-bottom: 6rem;
 }

 .hero-description{
  margin-top: 2.5rem;
 }

}